<div style="padding: 16px; display: flex; flex-direction: column; gap: 8px">
  <button (click)="actionSheet.open()">Open Action Sheet</button>
  <button (click)="dialog.open()">Open Dialog</button>
  <button (click)="fullscreenDialog.open()">Open Fullscreen Dialog</button>
</div>

<main style="padding: 16px">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices erat nisl, vitae
    mollis est imperdiet nec. Fusce convallis nisl dui. In hac habitasse platea dictumst.
    Suspendisse mollis orci vitae sagittis porta. Phasellus et sapien sed orci vehicula tristique.
    Donec nisi magna, mollis quis urna sed, gravida ullamcorper quam. Aenean maximus sapien et nisl
    ullamcorper, nec hendrerit odio auctor. Suspendisse feugiat congue dolor, nec imperdiet nulla.
    Nam pellentesque dignissim ligula, sed volutpat dolor.
  </p>
  <p>
    Vivamus efficitur ornare gravida. Cras lectus elit, interdum sed maximus vel, dignissim sit amet
    neque. Nam ex diam, maximus eget pellentesque ut, vestibulum et diam. Proin volutpat felis eget
    ante viverra, et scelerisque erat dapibus. Vivamus venenatis nisi nec est tincidunt dictum.
    Donec ultricies sit amet libero eu fermentum. Maecenas ut elit dui. Nunc molestie metus id odio
    imperdiet mollis. Aenean euismod tortor vel nisl dictum, mollis dapibus eros aliquam. Nunc vitae
    neque justo.
  </p>
  <p>
    Donec auctor ex eu ultricies pulvinar. Nam efficitur fringilla suscipit. Nullam in commodo
    neque, et mollis ligula. Mauris varius eleifend ullamcorper. Aenean dignissim pulvinar ligula,
    sollicitudin malesuada mauris dictum eu. Aenean sodales consectetur lorem, et dapibus diam
    tristique a. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed laoreet nisl in
    dolor sodales, non volutpat dui semper. Sed ultrices fermentum euismod. Duis semper nibh quis
    aliquet facilisis. Duis lacus arcu, ullamcorper et erat id, varius placerat lectus. Sed et erat
    eget nulla sodales ornare. Nunc dignissim ornare orci, at mattis metus rhoncus id. Etiam aliquam
    dictum magna vitae hendrerit. Curabitur metus eros, vulputate nec dui non, sollicitudin sagittis
    neque.
  </p>
  <p>
    Quisque faucibus neque ut est varius, bibendum ultricies augue bibendum. Nunc sed mauris
    pretium, posuere mauris in, fermentum enim. Sed vestibulum vitae risus fermentum lacinia. Nullam
    et tincidunt neque. Curabitur feugiat augue id nulla pretium, eu condimentum ligula lacinia.
    Nunc semper cursus sapien, elementum auctor nisl consequat quis. Nunc fermentum vestibulum
    blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id ex ac neque
    scelerisque tristique at et metus. Sed pharetra venenatis mollis. Vestibulum sodales odio ut
    vestibulum ullamcorper.
  </p>
  <p>
    Mauris nulla elit, imperdiet vel tortor eu, viverra malesuada diam. Vivamus consequat elit et
    lorem sagittis, eu hendrerit leo rutrum. In ut pellentesque orci. Phasellus viverra ultricies
    dolor sit amet imperdiet. Quisque luctus viverra ipsum et feugiat. Duis venenatis varius
    accumsan. Fusce in mi orci. Nullam elementum ex a nunc ornare, non sagittis nulla ullamcorper.
    Fusce vitae augue at nisi varius sollicitudin et eleifend libero. Vivamus scelerisque consequat
    imperdiet. Ut fermentum arcu vitae libero sodales iaculis. Duis pharetra vitae justo vitae
    pharetra. Etiam iaculis at risus et bibendum. Interdum et malesuada fames ac ante ipsum primis
    in faucibus.
  </p>
</main>

<concern-action-sheet #actionSheet>
  <h1 header>Bla bla</h1>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>
</concern-action-sheet>
<concern-dialog #dialog>
  <h1 header>Bla bla</h1>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>

  <button footer (click)="dialog.close()">Close</button>
</concern-dialog>
<concern-fullscreen-dialog #fullscreenDialog>
  <h1 header>Bla bla</h1>
  <p>
    Fugiat ad ut proident Lorem elit elit dolore quis reprehenderit veniam tempor consequat.
    Excepteur do consectetur sunt duis esse anim mollit consectetur cillum veniam minim sit minim
    ad. Cupidatat enim duis velit do sit fugiat anim nisi in eiusmod minim.
  </p>

  <button footer (click)="fullscreenDialog.close()">Close</button>
</concern-fullscreen-dialog>
